allow vendor_init proc:file write;
allow vendor_init rootfs:dir { add_name setattr write };
allow vendor_init vfat:file { open read getattr };
#allow vendor_init dpmd_data_file:dir setattr;
allow vendor_init media_data_file:dir setattr;
allow vendor_init wifi_data_file:dir setattr;
allow vendor_init wifi_data_file:dir search;
allow vendor_init wpa_socket:dir setattr;